/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../scss/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/_base.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/_base.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../scss/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 49, ../scss/_base.scss */
a {
  text-decoration: none;
}

/* line 52, ../scss/_base.scss */
.clear {
  clear: both;
}

/* line 59, ../scss/_base.scss */
body {
  font-size: 1em;
  width: 100%;
  margin: 0 auto;
  background-color: #eaedf1;
  padding: 50px 0;
}

/* line 67, ../scss/_base.scss */
h2 {
  font-size: 2.083em;
}

@media only screen and (max-width: 1200px) {
  /* line 3, ../scss/_media-query-1200.scss */
  .container {
    width: 980px;
  }

  /* line 6, ../scss/_media-query-1200.scss */
  section.books ul li {
    width: 29.7%;
  }
}
@media only screen and (max-width: 980px) {
  /* line 3, ../scss/_media-query-980.scss */
  .container {
    width: 750px;
  }

  /* line 6, ../scss/_media-query-980.scss */
  section.books ul li {
    width: 45.2%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 3, ../scss/_media-query-768.scss */
  .container {
    width: 100%;
  }

  /* line 7, ../scss/_media-query-768.scss */
  section.books {
    padding: 40px 30px 48px 30px;
  }
  /* line 9, ../scss/_media-query-768.scss */
  section.books ul li {
    width: 100%;
    margin: 20px auto;
  }
}
@media only screen and (max-width: 640px) {
  /* line 3, ../scss/_media-query-640.scss */
  nav {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  /* line 3, ../scss/_media-query-480.scss */
  .user p {
    display: none;
  }
}
                  /*@import "sprites/*.png";
@include all-sprites-sprites(true);*/
/* line 11, ../scss/main.scss */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #323a45;
  z-index: 1;
}
/* line 17, ../scss/main.scss */
header > div {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 20, ../scss/main.scss */
header > div > a {
  font-size: 1.5em;
  color: #f1f1f3;
  line-height: 20px;
  float: left;
  padding: 15px 15px;
  margin-left: 3.270564915758176%;
}
/* line 28, ../scss/main.scss */
header > div nav {
  float: right;
}
/* line 31, ../scss/main.scss */
header > div nav > ul > li {
  width: 65px;
  height: 49px;
  float: left;
  /* &:hover ul{
       display:inline-block;
     }*/
}
/* line 35, ../scss/main.scss */
header > div nav > ul > li a {
  color: white;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 1px;
  text-align: center;
  line-height: 60px;
}
/* line 46, ../scss/main.scss */
header > div nav > ul > li ul {
  display: none;
}
/* line 48, ../scss/main.scss */
header > div nav > ul > li ul form {
  background-color: #fff;
  box-shadow: 0px 3px 8px -3px #000;
}
/* line 51, ../scss/main.scss */
header > div nav > ul > li ul form input {
  border: 1px solid grey;
  margin: 5px;
  font-size: 0.9em;
}
/* line 61, ../scss/main.scss */
header > div nav > ul > li:hover > a {
  background-color: #fff;
  color: #323a45;
}
/* line 66, ../scss/main.scss */
header > div nav > ul li.last-nav {
  text-indent: 0;
}
/* line 71, ../scss/main.scss */
header > div div.user {
  float: right;
  line-height: 50px;
  margin: 0 30px;
}
/* line 75, ../scss/main.scss */
header > div div.user p {
  color: #fff;
  float: left;
  font-size: 18px;
  position: relative;
}
/* line 80, ../scss/main.scss */
header > div div.user p span {
  margin-left: 5px;
}
/* line 84, ../scss/main.scss */
header > div div.user button {
  background: #2e9950;
  color: #fff;
  font-size: 0.9em;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-left: 30px;
  -webkit-transform: rotate(5deg);
  transition: 1s;
}
/* line 94, ../scss/main.scss */
header > div div.user button:hover {
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
}

/* line 102, ../scss/main.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* line 106, ../scss/main.scss */
.content {
  margin: 0 auto;
}

/* line 109, ../scss/main.scss */
.books {
  padding: 40px 15px 48px 15px;
  /*padding:39px 3.0723488602576808%; //1009 / 33;*/
  background-color: #f9fafc;
  margin-bottom: 60px;
}
/* line 114, ../scss/main.scss */
.books ul {
  /*li:nth-child(3n+1){
    margin-left: 0;
  }*/
}
/* line 115, ../scss/main.scss */
.books ul > li {
  width: 30.4%;
  text-align: center;
  /*width: 291px;*/
  /*height: 417px;*/
  background-color: #f9fafc;
  float: left;
  border: 2px solid #edf0f4;
  /*margin-left: 3.1762295081967214%;*/
  margin-bottom: 33px;
  margin: 0 15px 30px 15px;
  padding-top: 15px;
}
/* line 127, ../scss/main.scss */
.books ul > li > div {
  padding: 0 15px;
}
/* line 129, ../scss/main.scss */
.books ul > li > div img {
  width: 100%;
  margin-bottom: 25px;
  /*margin: 15px 15px 0 15px;*/
}
/* line 134, ../scss/main.scss */
.books ul > li > div h2 {
  color: #c2c2c2;
  margin-bottom: 15px;
  /*margin: 31px 15px 15px 15px;*/
}
/* line 139, ../scss/main.scss */
.books ul > li > div p {
  /*font-size: 1.250em;*/
  margin-bottom: 15px;
  /*margin:0 15px 23px 15px;*/
}
/* line 145, ../scss/main.scss */
.books ul > li > a {
  height: 25px;
  background-color: #1fbb86;
  display: block;
  /*padding:20px  7.560137457044673%;*/
  padding: 15px 20px;
  text-align: left;
  color: #fff;
}
/* line 153, ../scss/main.scss */
.books ul > li > a span {
  display: inline-block;
}
/* line 156, ../scss/main.scss */
.books ul > li > a .fa-book {
  float: right;
  padding-top: 5px;
  color: #000;
}
/* line 161, ../scss/main.scss */
.books ul > li > a p {
  display: inline-block;
  margin: 0 122px 0 22px;
  line-height: 25px;
}
/* line 166, ../scss/main.scss */
.books ul > li > a:hover {
  background-color: grey;
  color: #565757;
}

/* line 178, ../scss/main.scss */
section.pagination ul {
  display: block;
  margin: 0 auto;
  width: 232px;
}
/* line 182, ../scss/main.scss */
section.pagination ul li {
  float: left;
  height: 55px;
  width: 58px;
  display: block;
  /*padding: 15px;*/
  background-color: #ffffff;
  color: #5e6d81;
}
/* line 190, ../scss/main.scss */
section.pagination ul li a {
  display: block;
  height: 100%;
  text-align: center;
  line-height: 58px;
  border-right: 1px solid #ececec;
}
/* line 196, ../scss/main.scss */
section.pagination ul li a canvas {
  width: 100%;
}
/* line 200, ../scss/main.scss */
section.pagination ul li:hover {
  background-color: grey;
}

/* line 210, ../scss/main.scss */
#test {
  display: none;
  position: absolute;
  top: 20%;
  left: 35%;
  /*width: 40%;*/
  /*height: 300px;*/
  /*margin:0 auto;*/
  background-color: #2980b9;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 6px 6px 13px -3px #000;
}
/* line 222, ../scss/main.scss */
#test form {
  padding: 30px;
}
/* line 224, ../scss/main.scss */
#test form input {
  margin-bottom: 20px;
}
/* line 227, ../scss/main.scss */
#test form input:last-child {
  width: 100%;
  display: block;
  margin: 0 auto;
  color: #fff;
  background-color: #3498db;
  border: none;
  /*position:relative;*/
  /*top:40px;
  right:100px;*/
  /*margin-bottom:30px;*/
  /*padding: 10px;*/
  /*border-radius: 10px;*/
}
/* line 240, ../scss/main.scss */
#test form input:last-child:hover {
  opacity: 0.7;
}

/* line 247, ../scss/main.scss */
.open {
  opacity: 0.6;
  /*background-color: red;*/
}

/* line 251, ../scss/main.scss */
.closed {
  opacity: 1;
}

/* line 255, ../scss/main.scss */
.grid-list .books ul li {
  width: 97%;
}
/* line 257, ../scss/main.scss */
.grid-list .books ul li a {
  clear: both;
}
/* line 260, ../scss/main.scss */
.grid-list .books ul li img {
  width: 200px;
  float: left;
  padding-right: 30px;
}
/* line 265, ../scss/main.scss */
.grid-list .books ul li h2 {
  padding-top: 25px;
}
/* line 268, ../scss/main.scss */
.grid-list .books ul li h2, .grid-list .books ul li p {
  text-align: left;
}
